<!DOCTYPE html>
<html>
<head>
    <title>2DO Wrong Way</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            font-size: 4rem;
            margin-bottom: 2rem;
        }

        a {
            font-size: 4rem;
            margin-bottom: 2rem;
            color: #87ef74;
			text-decoration: none;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center;margin-top:20px;">You need to <a href="register">register</a> or <a href="login">login</a> first in order to access this area &#128543;</h1>
    <div style="text-align:center;margin-top:20px;">
        <a href="/" style="font-size:2rem; margin-top: 60px;">PRESS HERE TO GO &#127968;</a>
    </div>
    <div style="display:flex;justify-content:center;margin-top:10px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Chromium_T-Rex-error-offline.svg/512px-Chromium_T-Rex-error-offline.svg.png" alt="Offline Dinosaur" style="max-width:100%;height:auto;">
    </div>
</body>
</html>
